@import "./settings.scss";

button {
  &.primary {
    background-color: $orange;
    padding: 10px 20px;
    border: solid 2px transparent;
    border-radius: 10px;
    font-size: 1rem;
    color: $dark-orange;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: darken($orange, 10);
      color: darken($dark-orange, 10);
    }
  }

  &.big {
    font-size: 1.5rem;
  }
}
