@import "./settings.scss";
@import "./buttons.scss";

html,
body {
  overscroll-behavior: none;
  height: 100%;
  background-color: $yellow;
  font-family: "Signika", sans-serif;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  color: $black;
  font-size: 1rem;
}

.general-container {
  padding: 20px;
  background-color: $dark-yellow;
  border: solid 3px $dark-orange;
  border-radius: 10px;
}

h1.title {
  font-size: 1.8rem;
  margin: 10px;
  padding: 0px;
  color: $black;
}

input[type="text"],
input[type="number"] {
  padding: 10px 20px;
  margin: 0px 10px;
  border: none;
  border-radius: 10px;
  background-color: $yellow;
  outline: none;
  font-size: 1.1rem;
  color: $black;
}
